<h1>Your profile</h1>
<br>
ID: <%= @user.id %><br>
Username: <%= @user.username %><br>
E-mail: <%= @user.email %>
<br>
<% if @user.id %>
<%= link_to 'Destroy',  { action: :destroy, id: @user.id }, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
