<div class="row">
  <div class="col-md-4 col-centered text-center">
    <h1>Main posts page</h1>
    <%= @message %>
    <br>
    <% @posts.each do |post| %>
      <%= link_to post.title, post_path(post.id) %> <br>
    <% end  %>
  </div>
</div>
